*{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
    padding: 5px;
}
a:hover{
    color: rgb(255, 238, 82);
    font-weight: bold;
}
.footer{
    position: absolute;
    display: flex;
    width: 80%;
    height: 70px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(96, 54, 1);
    justify-content: center;
    align-items: center;
}
.footer ul{
    display: flex;
    justify-content: center;
}
.footer li{
    padding-left: 15px;
    list-style: none;
}