<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.popol.mapper.CategoryMapper">
    <!-- 전체 조회 -->
    <select id="listAll" resultType="com.example.popol.model.CategoryDto">
        SELECT * FROM category;
        --      AS는 생략가능. AS없이 적어도 가능
--      지금 카테고리 이름이 DB랑 java랑 달라서 한번 더 쿼리를 날려서 넣어줘야할꺼 같다
    </select>

</mapper>